


<div class="p-5">
    <h2 class="p-3 text-center"> Add Role  </h2>
    <form asp-action="AddRole" asp-controller="Account" method="post">
       <input placeholder="Role Name " class="form-control p-3" name="Role"/>
        <input class="form-control p-3 btn btn-success mt-4" type="submit" />
    </form>



</div>