@using Task.Models.IdentityModels;
@{

  
    Layout=null ; 
}
@model LoginVM;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Template/img/logo/logo.png" rel="icon">
    <title>Task - Login</title>
    <link href="~/Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Template/css/ruang-admin.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-login">
    <!-- Login Content -->
    <div class="container-login">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-9">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                    </div>
                                    <form class="user" asp-action="Login" asp-controller="Account" method="post">
                                        <div class="text-danger text-center" asp-validation-summary="ModelOnly">

                                        </div>
                                        <input type="text" class="d-none" value="@ViewBag.ReturnUrl" name="returnUrl" id="returnUrl" />
                                        <div class="form-group">
                                            <span class="text-danger text-center" asp-validation-for="Email" style="display:inline-block"></span>
                                            <input type="text" asp-for="Email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Enter User Name or Email Address">
                                        </div>
                                        <div class="form-group">
                                            <span class="text-danger text-center" asp-validation-for="Password" style="display:inline-block"></span>
                                            <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                                                <input type="checkbox" asp-for="Remmember" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Remember
                                                    Me
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
                                        </div>
                                       
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="font-weight-bold small" asp-action="SignUp" asp-controller="Account">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- Login Content -->
    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Template/js/ruang-admin.min.js"></script>
</body>

</html>